<?xml version="1.0" encoding="utf-8" ?>
<config xmlns="http://tempuri.org/configSchema.xsd">
  <frontend name="statsd.frontends.udp" path="statsd">
    <properties>
      <property name="port" value="9871"/>
    </properties>
  </frontend>

  <frontend name="statsd.frontends.console"></frontend>
  <frontend name="statsd.frontends.console"></frontend>
  <backend name="statsd.backends.console" />
</config>